<form action="/productos" method="post">

    <div>
        <label for="producto"><b>producto</b></label>
        <input id="producto" type="text" name="producto">
    </div>

    <div>
        <label for="precio"><b>precio</b></label>
        <input id="precio" type="text" name="precio">
    </div>

    <div>
        <label for="thumbnail"><b>thumbnail</b></label>
        <input id="thumbnail" type="text" name="thumbnail">
    </div>

    <button>Enviar</button>
</form>